footer {
    background-color: var(--mainColor);
    color: #fff;
    font-weight: 700;
    padding: 13px 0;
    margin-top: 30px;
}

/*Карта сайта*/
.styleSitemap{
    color: #fff;
}
.footer_link{
    color: #fff;
}
.footer__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}