@media(max-width: 767px) {
    .header__bottom {
        display: flex;
        flex-direction: column-reverse;
        gap: 40px;
    }
    .header__title{
        text-align: center;
    }
    .top,
    .cleaningServices__inner {
        flex-direction: column;
    }
    .time__box {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .time__inner {
        justify-content: center;
    }
    .cleaningServices__img {
        max-width: 160px;
    }
    .sewerCleaning__flex {
        display: flex;
        flex-direction: column-reverse;
    }
    .pipeCleaning__box,
    .cleaningServices__box,
    .sewerCleaning__box,
    .service24__box,
    .pipeBlockage__box,
    .comments__box {
        grid-template-columns: 1fr;
    }
}
@media(max-width: 500px) {
    .btnFixedD {
        display: none;
    }
    .btnFixed {
        display: block;
    }
    footer {
        margin-bottom: 60px;
    }
}